/* Estilos globais */
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;  
}

/* Container centralizado */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Card de login */
.login-card {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Títulos */
.login-card h2 {
  text-align: center;
  color: #333;
}

.login-card h3 {
  text-align: center;
  color: #333;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background-color: rgb(231, 230, 230);
  color: black;
}

/* Botão */
.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #6f3bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #0056b3;
}

/* Mensagem */
.login-card p {
  margin-top: 15px;
  text-align: center;
  color: #000000;
}

h1 {
  color: #000000;
}

/* Cabeçalho */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  color: #fff;
  padding: 15px 30px;
}

.logout-button {
  background: #ff5e5e;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background: #c9302c;
}

/* Navegação */
.dashboard-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #f4f6f9;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.dashboard-nav a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.dashboard-nav a:hover {
  text-decoration: underline;
}

/* Conteúdo */
.dashboard-content {
  padding: 20px;
  color: rgb(0, 0, 0);
}

/* Container geral do Dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa 100% da altura da tela */
}

/* Conteúdo do Dashboard */
.dashboard-content {
  flex: 1;              /* ocupa todo o espaço restante */
  padding: 20px;
  background: #fff;
}

#root {
  width: 100%;
}


